cython=0.29.30
fbprophet=0.7.1
fonttools=4.33.3
matplotlib=3.5.2
matplotlib-base=3.5.2
numpy=1.22.4
pandas=1.4.2
pmdarima=1.8.5
pyqt=5.15.4
pyqt5-sip=12.9.0
pystan=2.19.1.1
python=3.8.13
setuptools
streamlit=1.10.0
